{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Nombre de vidéos postées</th>
                <td>{{ user.videos|length }}</td>
            </tr>
            <tr>
                <th>Total des vues</th>
                <td>{{ user.totalviews }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}


<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Preview</th>
                <th>Title</th>
                <th>PublicationDate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for video in user.videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td><iframe width="280" height="160" src={{ 'https://www.youtube.com/embed/' ~ video.substrLink }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                <td>{{ video.name }}</td>
                <td>{{ video.publicationDate ? video.publicationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td><a href="{{ path('video_show', {'id': video.id}) }}">show</a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if user.id == app.user.id %}
                {{ include('video/_delete_form.html.twig') }}
                {% endif %}
                {% endif %}
                </td>      
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune vidéo postée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
