{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <h1>Hello {{ user.name }}! ✅</h1>
    {% else %}
        <h1>Hello! ✅</h1>
    {% endif %}
    
    <h3>Recherche : </h3>
    <form class="d-flex">
    <form class="d-flex">
    {{ render(path('search', {max: 3})) }}    
    </form>

    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Preview</th>
                <th>PublicationDate</th>
                <th>Views</th>
                <th>Author</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.name }}</td>
                <td><iframe width="280" height="160" src={{ 'https://www.youtube.com/embed/' ~ video.substrLink }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                <td>{{ video.publicationDate ? video.publicationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video.views }}</td>
                <td><a href="{{ path('user_show', {'id': video.author.id}) }}">{{video.author}}</a></td>
                <td>
                    <a href="{{ path('video_show', {'id': video.id}) }}">show</a>
                    {#<a href="{{ path('video_edit', {'id': video.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
